<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">

<head>
	<meta content="text/html;charset=UTF-8" accept-charset="character_set">
	<title>Input CommonCode</title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

		body {
			text-align: center;
			font-family: 'Nanum Myeongjo', serif;
			margin: 0;
		}

		header {
			background-color: lightblue;
		}

		form {
			margin: 0 auto;
			width: fit-content;
		}

		td {
			padding: 5px;
		}

		#btn {
			background-color: lightsteelblue;
			border: solid 1px black;
			border-radius: 10%;
		}
	</style>
</head>

<body>
	<header>
		<h1>Input CommonCode</h1>
	</header>
	<form th:action=@{/yn21/insertCommon} th:object="${common}" method="post">
		<table>
			<tr>
				<td>codeID</td>
				<td><input type="text" th:field="*{codeID}" placeholder="Input codeID"></td>
			</tr>
			<tr>
				<td>codeName</td>
				<td><input type="text" th:field="*{codeName}" placeholder="Input codeName"></td>
			</tr>
			<tr>
				<td>uppercodeID</td>
				<td><input type="text" th:field="*{upperID}" placeholder="Input upperID"></td>
			</tr>
		</table>
		<input id="btn" type="submit" value="submit" />
	</form>
</body>

</html>