<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type/json" charset="UTF-8">
	<title>Input UpdateDelete</title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

		body {
			text-align: center;
			font-family: 'Nanum Myeongjo', serif;
			margin: 0;
		}

		header {
			background-color: lightblue;
		}

		form {
			margin: 0 auto;
			width: fit-content;
		}

		td {
			padding: 5px;
		}

		#btn {
			background-color: lightsteelblue;
			border: solid 1px black;
			border-radius: 5%;
			width: 100%;
		}
	</style>
</head>

<body>
	<header>
		<h1>Input Update Delete CommonCode</h1>
	</header>
	<form th:action=@{/yn21/updateCmmnDel} method="post">
		<table>
			<tr>
				<td>codeID</td>
				<td><input type="text" name="codeID" placeholder="Input code_id"></td>
			</tr>
		</table>
		<input type="submit" value="submit" />
	</form>
</body>

</html>