<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

		body {
			font-family: 'Nanum Myeongjo', serif;
			text-align: center;
			margin: 0;
		}

		h1 {
			background-color: lightblue;
			font-size: 50px
		}

		h3 {
			color: cornflowerblue;
			font-size: 30px
		}

		a {
			color: black;
		}
	</style>
</head>

<body>
	<h1>Welcome!</h1>
	<div id="cmmn">
		<h3>CommonCode</h3>
		<a href="/yn21/selectCommonAll">selectAll</a>
		<a href="/yn21/inputSelectID">selectID</a><br>
		<a href="/yn21/inputInsertCmmn">insert</a><br>
		<a href="/yn21/inputUdCommon">update</a>
		<a href="/yn21/inputCmmnDel">update_delete</a><br>
		<a href="/yn21/inputDelete">delete</a>
	</div>
</body>

</html>